:root {
    --bgc: #29d;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

.nprogress-busy {
    cursor: wait;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: var(--bgc);
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    opacity: 1;

    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--bgc), 0 0 5px var(--bgc);

    transform: rotate(3deg) translate(0, -4px);
}

#nprogress .spinner {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1999;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;

    border: 2px solid transparent;
    border-left-color: var(--bgc);
    border-top-color: var(--bgc);
    border-radius: 50%;

    animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
